<div class="input-file-container">
  <span class="input-file-inp-container">
    <input class="input-file" id="file-upload-image-s-input" type="file" accept="image/*" >
  </span>
  <label tabindex="0" for="file-upload-image-s-input" class="input-file-trigger">Selecionar...</label>
</div>
<p class="file-return"></p>