<div class="row">
  <div class="col-md-3">
    {{#if src}}<img class="img-responsive" src="{{src}}">{{/if}}
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Descrição:</label>
      {{textarea value=item.description class="form-control" rows="4"}}
    </div>
  </div>
  <div class="col-md-3">
    <div class="actions">
      {{#bs-button
        onClick=(action "deleteItem")
        icon="glyphicon glyphicon-remove"
        size="sm"
        disabled=item.isUploading
      }}
        Remover
      {{/bs-button}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="file-upload-image-item-progress">
      {{#if item.isUploading}}
        {{#bs-progress as |p|}}
          {{p.bar
            value=item.percent
            minValue=0
            maxValue=100
            roundDigits=3
            showLabel=true
            animate=item.isInAction
            type=item.barType
            striped=true
          }}
        {{/bs-progress}}
      {{/if}}
    </div>
  </div>
</div>
