<div class="form-group">
  <label>Descrição / alt:</label>
  {{textarea value=file.description class="form-control" rows="2"}}
</div>

<div class="form-group">
  {{#bs-button
    onClick=(action "updateDescription")
    icon="glyphicon glyphicon-edit"
    size="xs"
  }}
    Salvar
  {{/bs-button}}
</div>