<td class="image-uploader-tr-thumbnail">
  {{we-image file=image size='thumbnail'}}
</td>
<td class="image-uploader-tr-description">
  <div class="form-group">
    <label>Descrição / alt:</label>
    {{textarea value=image.description class="form-control" rows="2"}}
  </div>

  <div class="form-group">
    {{#bs-button
      onClick=(action "updateDescription")
      icon="glyphicon glyphicon-edit"
      size="xs"
    }}
      Salvar
    {{/bs-button}}
  </div>
</td>
<td class="image-uploader-tr-actions">
  <button class="btn btn-sm btn-default" {{action 'removeImage' image}}>
    <i class="glyphicon glyphicon-remove text-danger"></i> {{t 'image.remove'}}
  </button>
</td>