{{#if record.createdAt}}<div>CreatedAt: {{moment-format record.createdAt settings.dateFormat}}</div>{{/if}}
{{#if record.updatedAt}}<div>UpdatedAt: {{moment-format record.updatedAt settings.dateFormat}}</div>{{/if}}