{{#if ENV.settingsMenu.links}}
<div class="settings-submenu">
  <ul class="nav nav-pills">
    {{#each ENV.settingsMenu.links as |link|}}
      {{#active-link role="presentation"}}
        {{#link-to link.linkTo}} {{{link.icon}}} {{{link.text}}} {{/link-to}}
      {{/active-link}}
    {{/each}}
  </ul>
</div>
{{/if}}