<h1 class="page-header">{{t "t.find"}}</h1>
<div class="actions">
  {{#acl-btn-create model="t" url="/t/create"}}{{t "t.create"}}{{/acl-btn-create}}
</div>
<br>

{{conteudos-table
  data=model.records
  columns=model.columns
  pageSize=25
  useFilteringByColumns=true
  deleteRecord="deleteRecord"
}}