<br>
{{#if this.isWorking}}
<div class="container bg-faded py-3">
  {{{t 'app.loading.message1'}}}
</div>
{{else}}
  <div class="container bg-faded py-3">
    {{{t 'app.loading.message2'}}}
  </div>
{{/if}}
