{{partial 'site-contacts/menu-local'}}

<h3>Mensagens de contato</h3>

<p class="help-block">Mensagens de contato enviadas usando o formulário de contato do site.</p>

{{conteudos-table
  data=model.records
  columns=model.columns
  pageSize=25
  useFilteringByColumns=false
  changeStatus='changeStatus'
  deleteRecord='deleteRecord'
  changePublishedStatus='changePublishedStatus'
}}