<h1 class="page-header">Mensagens de contato do site</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    {{#link-to 'site-contacts.index'}}
      Mensagens
    {{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'site-contact-forms.index'}}
      Assuntos
    {{/link-to}}
  </li>
</ul>
<br>