<table class="table table-bordered image-uploader-table">
  {{#each field as |image|}}
    <UI::Upload::ImageTr
      @image={{image}}
      @onRemoveImage={{action this.removeFile}}
    />
  {{/each}}

  {{#if canAddMore}}
    <tr>
      <td colspan="3">
        <FileUpload @name="avatar" @accept="image/*" @onfileadd={{action this.uploadFile}} as |queue|>
          <a class="btn btn-outline-dark">
            {{#if queue.files.length}}
              <div class="spinner-border spinner-border-sm" role="status"></div> Enviando...
            {{else}}
            <i class="fa fa-upload"></i> Enviar
            {{/if}}
          </a>
        </FileUpload>
      </td>
    </tr>
  {{/if}}
</table>