{{partial 'site-contact-forms/menu-local'}}

<h3>Assuntos de contato</h3>

<p class="help-block">Assuntos disponíveis para seleção no formulário de contato do site que permitem enviar as mensagens de contato para emails diferentes.</p>

<div class="actions">
  {{#acl-btn-create model="site-contact-form" url="/site-contact-forms/create"}}Adicionar assunto{{/acl-btn-create}}
</div>
<br>

{{conteudos-table data=model.records columns=model.columns pageSize=25 useFilteringByColumns=false deleteRecord='deleteRecord'}}