{{yield}}

<ul class={{listClass}} id="accordionSidebar">
  <WeSidebar::Brand />

  <hr class="sidebar-divider my-0">

  <AdminMenu @links={{adminMenu}} />

  <!-- Divider -->
  {{!-- <hr class="sidebar-divider d-none d-md-block"> --}}

  <!-- Sidebar Toggler (Sidebar) -->
  {{!-- <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div> --}}
</ul>