<h1 class="page-header">{{t "Media"}}</h1>
<br>
<div class="media-links">

  {{#link-to "media.images" class="btn btn-default"}}
    {{t 'Images'}}
  {{/link-to}}
{{!--   {{#link-to "media.files" class="btn btn-default"}}
    {{t 'Files'}}
  {{/link-to}} --}}
</div>