<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>{{{settings.systemSettings.siteFooter}}}</span>
    </div>
    <div class="desenvolvido-por">
      <a href="https://linkysystems.com" target="_blank"><img src="https://linkysystems.com/favicon.ico" alt="Linky"
          width="20"></a>
    </div>
  </div>
</footer>